    h1{
        color: chocolate;
        padding-left: 30px;
    }
    .red{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-weight: bold;
        font-style: italic;
        color: red;
    }
    #blue{
        color: blue;
        text-align: center;
    }
    .green{
       color: green; 
       font-weight: bold;
    }
    .box{  
        width: 200px;
        height: 100px;
        border: 3px solid red;
        /* padding: 5px; */
        /* padding-left: 5px; */
        padding-top: 10px;
        background-color: rgb(83, 161, 229);
    }
    .card{
        width: 200px;
        height: 150px;
        background-color: bisque;
        border: 1px solid darkolivegreen;
        padding: 10px;
        border-radius: 5%;
        box-shadow: 50px;
        /* float: right; */
    }
    h2, p{
        text-align: center;
    }
    img{
        height: 100px;
    }
    body{
        border: 3px solid;
        display: flow-root;
        padding: 3%;
    }
    #img1{
        float: left;
        margin-right: 10px;
    }
    #img2{
        float: right;
        margin-left: 10px;
    }
